<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @servico.titulo %>
</p>

<p>
  <b>Descrição:</b>
  <%= @servico.descricao %>
</p>


<%= link_to 'Edit', edit_servico_path(@servico) %> |
<%= link_to 'Back', servicos_path %>
