<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @pacote.titulo %>
</p>

<p>
  <b>Descrição:</b>
  <%= @pacote.descricao %>
</p>

<p>
  <b>Preço:</b>
  <%= @pacote.preco %>
</p>

<p>
  <b>Pontos:</b>
  <%= @pacote.pontos %>
</p>

<p>
  <b>Pontos requeridos:</b>
  <%= @pacote.pontos_requeridos %>
</p>

<p>
  <b>Hotel:</b>
  <%= @pacote.hotel.nome %>
</p>

<p>
  <b>Serviço:</b>
  <%= @pacote.servico.titulo %>
</p>


<%= link_to 'Edit', edit_pacote_path(@pacote) %> |
<%= link_to 'Back', pacotes_path %>
